PORT=5060
DATABASE_URL=<My_supabase_url_here>
CLIENT_URL=http://localhost:3000
CLERK_PUBLISHABLE_KEY=<My_clerk_publishable_key_here>
CLERK_SECRET_KEY=<My_clerk_secret_key_here>
CLERK_WEBHOOK_SIGNING_SECRET=<My_signing_secret_of_clerk_here>
